.main {
    height: 95vh;
}

.main h2 {
    color: rgb(154, 121, 250);
    font-weight: bolder;
    font-size: 20px;
}

.advice {
    width: 80%;
    margin-left: 10%;
    height: 95vh;
    font-size: 18px;
    color: white;
    overflow: scroll;
}

p {
    text-align: left;
}

.safety span {
    background-color: rgb(85, 48, 196);
    color: white;
    border-radius: 3px;
}

.while span {
    background-color: rgb(85, 48, 196);
    color: white;
    border-radius: 3px;
}