.navdiv {
    position: absolute;
    top: 35%;
    left: 30%;
}

#menubuttons button {
    color: white;
    font-size: 20px;
    padding: 0px 45px;
    margin-right: 10px;
    height: 40px;
    font-weight: bold;
}

#menubuttons button:hover{
    background: white;
    color: rgb(115,57,244);
}

#menubuttons {
    margin-top: 10px;
    margin-left: 120px;
}

.material-icons {
    font-size: 60px;
}

.MuiListItem-button-184 {
    transition: background-color 150ms ease-out 0ms;
}

/* #menubuttons {
    display: flex;
    justify-content: center;
    color: white;
} */

.menudrawers {
    font-size: 20px;
}