@keyframes floating {
    0%      {top: 1000px;}
    100%    {top: 10px;}
}

.pad {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.login {
    background-color: rgb(2, 2, 85);
    height: 100vh;
    padding-top: 100px;
}

.member {
   display: flex;
   justify-content: space-evenly;
}

.name {
    font-family: 'Merienda';
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 65px;
    color: rgb(115, 57, 244);
}

.motto {
    position: absolute;
    color: rgb(115, 57, 244);
    font-size: 30px;
    animation-name: floating;
    animation-duration: 2s;
}