body {
    height: 100%;
}

.homepage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main {
    width: 100%;
    text-align: center;
    /* background-image: url('https://i.pinimg.com/originals/82/43/c2/8243c29d91708c1da1ecd8bc51803f2e.jpg'); */
    background-repeat: no-repeat;
    background-size: 120%;
    
    
}

/* .notificationreminders {
    width: 40%;
    border-right: 3px solid rgb(136, 179, 225);
    position:relative;
    text-align: center;
}

.notificationreminders::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-right:5px solid rgb(178, 165, 218); */
/* }  */

.googlemap {
    width: 80%;
    height: 70%;
    border: 8px solid purple;
    border-radius: 10px;
    margin:auto;
}

/* .homepage h1 {
    font-weight: bolder;
    font-size: 25px;
    line-height: 100px;
    color: rgb(115, 57, 244, 1);
    
} */

.main h1 {
    font-weight: bolder;
    font-size: 25px;
    line-height: 100px;
    color: rgb(115, 57, 244, 1);
    
}
.marker {
    width: 5px;
    background-color: red;
    border-radius: 3px;
}

/* .navdiv {
    position: absolute;
    top: 0;
    right: 0;
} */