.notificationreminders {
    width: 40%;
    border-right: 3px solid rgb(136, 179, 225);
    position:relative;
    text-align: center;
}

.notificationreminders::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    border-right:5px solid rgb(178, 165, 218);
}

.homepage h1 {
    font-weight: bolder;
    font-size: 25px;
    line-height: 100px;
    color: rgb(115, 57, 244, 1);
    
}