.notificationreminders {
    width: 40%;
    position:relative;
    text-align: center;
    height: 90vh;
    border-radius: 5px;
    overflow: scroll;
    margin-left: 20px;
    margin-top: 20px;
    background: linear-gradient(87deg,#825ee4 0,#5e72e4 100%);
}

.notificationreminders::after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    height: 100vh;
}

.homepage h1 {
    font-weight: bolder;
    font-size: 32px;
    line-height: 100px;
    color: white;    
}